@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: BeVietnamRegular;
	src: url('./assets/fonts/BeVietnam-Regular.ttf');
}

@font-face {
	font-family: BeVietnamBold;
	src: url('./assets/fonts/BeVietnam-Bold.ttf');
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: black;
	font-family: BeVietnamRegular;
	font-size: 18px;
	font-display: swap;
}

main {
	/* margin top value depends on the height of the header with navbar */
	margin-top: 4rem; 
}

a:hover {
	text-decoration: underline;
}

a {
	letter-spacing: 0.01em;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

.txt-extrabold {
	font-family: BeVietnamBold;
	letter-spacing: 0.04em;
}

.txt-bold {
	font-family: BeVietnamBold;
	letter-spacing: 0.01em;
}

.txt-medium {
	font-family: BeVietnamRegular;
}

.txt-normal {
	font-family: BeVietnamRegular;
}

.section-heading {
	font-family: BeVietnamBold;
	letter-spacing: 0.01em;
	font-size: 38px;
	text-transform: uppercase;
}

.lineup-row {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	@media (min-width: 768px) {
		flex-direction: row;
		width: 66%;
		gap: 1rem;
	}
}

ol {
	list-style: decimal;
	margin: auto;
	padding-left: 2rem;
}


.green-shadow {
	box-shadow: -3px 3px #60E4CC;
}